.imgOne{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
h1,h2,p,ul{
  color: beige;
  font-family: "Montserrat", sans-serif;
}
.container{
  display: flex;
  margin-left: 200px;
}
.search{
  width: 100%;
  padding: 10px 40px; 
  background-color: #EAE4DD;
  color: #27005D; 
  box-shadow: inset 0px 0px 0px 3px #071952;
 margin-left: 65px;
}
.list{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-left: 180px;

}
li{
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}
.icon{
  width: 20px
}
h2{
  font-size: 35px;
}
h1{
  font-size: 45px;
  color: #DA1212;
  
}
button{
  margin-top: 13px;
  margin-left: 220px;
  background-color: #181823;
  border: none;
}
